# 조건문

In [1]:
if True:
  print('hello')

hello

In [2]:
if False:
  print('hello')

In [3]:
if (True): # 이렇게 괄호를 안해도 됩니다!
  print('hello')

hello

In [4]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
  print('hello')

hello

In [5]:
if 10:
  print('hello')

hello

In [ ]:
# False
''
[]
0
{}
()
set()
##############
# True
1
-1
' '
[10, 20]

In [6]:
# 삼항연산자
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

# 연습문제

1. 주어진 리스트 data = [{"이름": "길동", "수학": 3, "과학": 93}, {"이름": "춘향", "수학": 33, "과학": 11}, {"이름": "철수", "수학": 94, "과학": 67}]에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

2. 주어진 사전 grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

3. 주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서 가장 자주 등장하는 단어를 출력하세요.

In [58]:
# 문제1
data = [{"이름": "길동", "수학": 3, "과학": 93}, {"이름": "춘향", "수학": 33, "과학": 11}, {"이름": "철수", "수학": 94, "과학": 67}]
avgs = []
for d in data:
  avgs.append((d.get('수학') + d.get('과학')) / (len(d) - 1))

print(data[avgs.index(max(avgs))].get('이름'))

철수

In [60]:
# 문제2
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
for name in grades.keys():
  grades[name] += 5
print(grades)

grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
grades = dict(zip(grades.keys(),list(map(lambda x:x+5, list(grades.values())))))
print(grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}
{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [44]:
# 문제3
s = "apple banana apple cherry banana cherry apple"
s = s.split(' ')

d = {}
for word in s:
  d[word] = s.count(word)
print(max(d, key=d.get))

apple

In [65]:
# 답안
# 문제1
data = [
  {"이름": "길동", "수학": 3, "과학": 93},
  {"이름": "춘향", "수학": 33, "과학": 11},
  {"이름": "철수", "수학": 94, "과학": 67}
]

max_entry = max(data, key=lambda x: x['수학']+x['과학'])
print(max_entry['이름'])

철수

In [66]:
# 문제2
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}

# dictionary comprehension
updated_grades = {name: score + 5 for name, score in grades.items()}
print(updated_grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [69]:
# 문제3
s = "apple banana apple cherry banana cherry apple"

words = s.split()
most_frequent_word = max(set(words), key=words.count)
print(most_frequent_word)

apple

In [3]:
from collections import Counter

s = "apple banana apple cherry banana cherry apple"
result = Counter(s.split())
result.most_common()
result.most_common(1)

[('apple', 3)]