<a href="https://colab.research.google.com/github/Haesun-Pyeon/ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연산과 구문

# 산술 연산자

In [1]:
{'one':1} + {'two':2} # error
{5} + {6} # error

TypeError: ignored

In [2]:
7 - 4

3

In [4]:
7 -- 4

11

In [5]:
7 --- 4

3

In [6]:
7 ---- 4

11

In [7]:
-2 * 2

-4

In [8]:
-2 ** 2 #주의 매우주의 -가 나중에붙음

-4

In [9]:
result = 'Ha' * 3
print(result) # 출력: 'HaHaHa'

HaHaHa

In [10]:
result = [1,2,3] * 2
print(result) # 출력: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [11]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5 (JavaScript에서 //는 주석이라 이 연산이 없습니다.)

5.0
5

In [12]:
# Python에 //는 몫이 아닙니다!
# 내림입니다!
a = -5
b = 2
print(a // b)

-3

In [13]:
10 / 0 #ZeroDivisionError

ZeroDivisionError: ignored

In [4]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.3f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.333

In [13]:
10 % 3.3

0.10000000000000053

In [14]:
(100 % 33) / 10 # 소숫점 1자리까지 출력해야 한다 (10곱하고나눔)

0.1

In [10]:
(1000 % 331) / 100 # 소숫점 2자리까지 출력해야 한다 (100곱하고나눔)

0.07

In [15]:
10 % 0

ZeroDivisionError: integer modulo by zero

In [16]:
5 == '5' #False

False

In [18]:
print('apple' < 'banana') # 첫글자의 유니코드 기준 판단

True

In [19]:
print('apple' < 'apples') # 문자열 내용이 같을때는 길이비교

True

In [22]:
#앞에서부터 차례대로 비교
print([10, 20, 30] < [10, 20, 30, 40])
print([10, 20, 35] < [10, 20, 30, 40])

True
False

In [23]:
x = 10
print(5 < x < 15) # 결과: True

True

In [24]:
x = 20
print(10 < x < 11) # 결과: False

False

# 논리연산자

In [28]:
# and(곱), or(합), not(부정)
x = True #1
y = False #0

print(True and False) # False
print(True and True) # True
print(True or False) # True
print(True or True) # True

False
True
True
True

In [30]:
for i in range(101):
  if i % 3 == 0:
    if i % 5 == 0:
      print(i)

#if중첩은 and로 연결할 수 있다.
for i in range(101):
  if i % 3 == 0 and i % 5 == 0:
    print(i)

0
15
30
45
60
75
90
0
15
30
45
60
75
90

In [31]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
  if i % 3 == 0 or i % 5 == 0:
    print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [32]:
print(not True) # 결과: False
print(not False) # 결과: True

False
True

In [35]:
#여기서부터는 나아가기 입니다.
a = True
b = False

a and b and ccc and ddd # 디버깅 할 때 조심

False

In [37]:
a = True
b = False
c = False

#and먼저계산
a or b and c #True

True

In [41]:
a = True
b = False
c = False
d = True

a and not b or c and d
# (a and (not b)) or (c and d)

True

In [43]:
# 단락회로평가
a = 'hello'
b = ''
a or b
#a가 True라 뒤를 볼 필요 없으므로 안봄

'hello'

In [44]:
a = ''
b = 'world'
a or b

'world'

In [47]:
username = ''

username = username or '이름을 정하지 않았습니다.'
username

'이름을 정하지 않았습니다.'

In [48]:
username = 'licat'

username = username or '이름을 정하지 않았습니다.'
username

'licat'

In [ ]:
# result = functionA() or functionB()
# 앞의 값이 None이나 0이면 뒤의 값으로 result를 만들겠다

# 할당연산

In [49]:
x = 10
y = 20

In [50]:
x = x + 1
x += 1

In [53]:
x -= 1
x /= 1
x //= 1
x **= 1
x *= 1
x %= 1

# id 연산자, is 연산자, is not 연산자

In [55]:
#is : 두 객체의 주소(id)가 같은지
a = 10000
b = 10000
a is b

False

In [56]:
id(a), id(b)

(4467976944, 4467976080)

In [57]:
a = [1,2,3]
b = [1,2,3]
a is b

False

# 230911 연습문제

In [84]:
# 1번문제

x = 3
y = 5
result = (isinstance(x, int) and isinstance(y, int)) and (x + y)
# 여기에 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.

result # 8이 출력되어야 합니다.

8

In [63]:
# 2번문제
# 다음 출력값은 무엇일까요? 왜 그러한가요?

print('hello' < 'hell o')
# False
# 앞부터 비교하는데 o와 공백이 처음으로 차이나므로 둘의 유니코드 코드 포인트를 구해보면
# ord('o')==111, ord(' ')==32 이므로 'o'의 값이 더 크다.

print([10, 20, 30] < [10, 19, 100])
# False 
# 앞부터 비교하므로 20 > 19

print(10 % 3.3 == 0.1) 
# False
# 10 % 3.3은 부동소수점 문제로 정확히 계산되지 않은 0.10000000000000053이라 0.1이 아니다.

False
False
False

In [75]:
# 3번문제
# 어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.

email2 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv

def find_email(x):
  x = x.split('@')[1]
  x = x[:x.index('.')]
  return x
print(find_email(email2))
print(find_email(email3))
print(find_email(email4))
print(find_email(email5))

gmail
naver
weniv
weniv