<a href="https://colab.research.google.com/github/Haesun-Pyeon/ormi3/blob/main/%EC%98%A4%EB%A5%B4%EB%AF%B8_3%EA%B8%B0_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연산과 구문

# 산술 연산자

In [48]:
{'one':1} + {'two':2} # error
{5} + {6} # error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
7 - 4

3

In [ ]:
7 -- 4

11

In [ ]:
7 --- 4

3

In [ ]:
7 ---- 4

11

In [ ]:
-2 * 2

-4

In [ ]:
-2 ** 2 #주의 매우주의 -가 나중에붙음

-4

In [ ]:
result = 'Ha' * 3
print(result) # 출력: 'HaHaHa'

HaHaHa

In [ ]:
result = [1,2,3] * 2
print(result) # 출력: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [ ]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5 (JavaScript에서 //는 주석이라 이 연산이 없습니다.)

5.0
5

In [ ]:
# Python에 //는 몫이 아닙니다!
# 내림입니다!
a = -5
b = 2
print(a // b)

-3

In [ ]:
10 / 0 #ZeroDivisionError

ZeroDivisionError: ignored

In [ ]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.3f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.333

In [ ]:
10 % 3.3

0.10000000000000053

In [ ]:
(100 % 33) / 10 # 소숫점 1자리까지 출력해야 한다 (10곱하고나눔)

0.1

In [ ]:
(1000 % 331) / 100 # 소숫점 2자리까지 출력해야 한다 (100곱하고나눔)

0.07

In [ ]:
10 % 0

ZeroDivisionError: integer modulo by zero

In [ ]:
5 == '5' #False

False

In [ ]:
print('apple' < 'banana') # 첫글자의 유니코드 기준 판단

True

In [ ]:
print('apple' < 'apples') # 문자열 내용이 같을때는 길이비교

True

In [ ]:
#앞에서부터 차례대로 비교
print([10, 20, 30] < [10, 20, 30, 40])
print([10, 20, 35] < [10, 20, 30, 40])

True
False

In [ ]:
x = 10
print(5 < x < 15) # 결과: True

True

In [ ]:
x = 20
print(10 < x < 11) # 결과: False

False

# 논리연산자

In [ ]:
# and(곱), or(합), not(부정)
x = True #1
y = False #0

print(True and False) # False
print(True and True) # True
print(True or False) # True
print(True or True) # True

False
True
True
True

In [ ]:
for i in range(101):
  if i % 3 == 0:
    if i % 5 == 0:
      print(i)

#if중첩은 and로 연결할 수 있다.
for i in range(101):
  if i % 3 == 0 and i % 5 == 0:
    print(i)

0
15
30
45
60
75
90
0
15
30
45
60
75
90

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
  if i % 3 == 0 or i % 5 == 0:
    print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [ ]:
print(not True) # 결과: False
print(not False) # 결과: True

False
True

In [ ]:
#여기서부터는 나아가기 입니다.
a = True
b = False

a and b and ccc and ddd # 디버깅 할 때 조심

False

In [ ]:
a = True
b = False
c = False

#and먼저계산
a or b and c #True

True

In [ ]:
a = True
b = False
c = False
d = True

a and not b or c and d
# (a and (not b)) or (c and d)

True

In [ ]:
# 단락회로평가
a = 'hello'
b = ''
a or b
#a가 True라 뒤를 볼 필요 없으므로 안봄

'hello'

In [ ]:
a = ''
b = 'world'
a or b

'world'

In [ ]:
username = ''

username = username or '이름을 정하지 않았습니다.'
username

'이름을 정하지 않았습니다.'

In [ ]:
username = 'licat'

username = username or '이름을 정하지 않았습니다.'
username

'licat'

In [ ]:
# result = functionA() or functionB()
# 앞의 값이 None이나 0이면 뒤의 값으로 result를 만들겠다

# 할당연산

In [ ]:
x = 10
y = 20

In [ ]:
x = x + 1
x += 1

In [ ]:
x -= 1
x /= 1
x //= 1
x **= 1
x *= 1
x %= 1

# id 연산자, is 연산자, is not 연산자

In [ ]:
#is : 두 객체의 주소(id)가 같은지
a = 10000
b = 10000
a is b

False

In [ ]:
id(a), id(b)

(4467976944, 4467976080)

In [ ]:
a = [1,2,3]
b = [1,2,3]
a is b

False

# 230911 연습문제

In [ ]:
# 1번문제

x = 3
y = 5
result = (isinstance(x, int) and isinstance(y, int)) and (x + y)
# 여기에 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.

result # 8이 출력되어야 합니다.

8

In [ ]:
# 2번문제
# 다음 출력값은 무엇일까요? 왜 그러한가요?

print('hello' < 'hell o')
# False
# 앞부터 비교하는데 o와 공백이 처음으로 차이나므로 둘의 유니코드 코드 포인트를 구해보면
# ord('o')==111, ord(' ')==32 이므로 'o'의 값이 더 크다.

print([10, 20, 30] < [10, 19, 100])
# False 
# 앞부터 비교하므로 20 > 19

print(10 % 3.3 == 0.1) 
# False
# 10 % 3.3은 부동소수점 문제로 정확히 계산되지 않은 0.10000000000000053이라 0.1이 아니다.

False
False
False

In [ ]:
# 3번문제
# 어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.

email2 = 'abc@gmail.com' # gmail
email3 = 'abc@naver.com' # naver
email4 = 'abc@weniv.co.kr' # weniv
email5 = 'li.cat@weniv.co.kr' # weniv

def find_email(x):
  x = x.split('@')[1]
  x = x[:x.index('.')]
  return x
print(find_email(email2))
print(find_email(email3))
print(find_email(email4))
print(find_email(email5))

gmail
naver
weniv
weniv

# in 구문

In [ ]:
# is는 is not이고 in은 not in입니다.
10 in [10, 20, 30]

True

In [ ]:
'h' in 'hello world'

True

In [ ]:
'world' in 'hello world'

True

In [ ]:
'hell' not in 'hello world'

False

In [ ]:
'wolf' not in 'hello world'

True

In [ ]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
10 in b # 출력: True
{10} in b # 출력: False, 주의
{10, 20} in b # 출력: False, 주의

'key1' in a # 출력: True
'value1' in a # 출력: False
('key1', 'key2') in a # 출력: False
# {'key1':'value1'} in a # error

False

In [ ]:
'value1' in a.values()

True

# 연산자 우선순위

In [ ]:
-2 ** 2

-4

In [ ]:
True * True and True + False
#((True * True) and (True + False))

1

In [ ]:
a = 10
a += 10 * 100
a

1010

In [ ]:
# 복합 할당 연산자가 가장 나중입니다!
a = 10
a *= 10 + 100
a

1100

In [ ]:
# a가 30이 될 것 같지만
# 오류가 나는 문법입니다!
a = 10
a = a += 20

SyntaxError: invalid syntax (1775850118.py, line 4)

# 연습문제

In [ ]:
# 배우신 분들
# 그리디 알고리즘입니다.
# 10000원짜리를 들고가서 1500원짜리 월드콘을 사먹었습니다. 거스름돈을 가장 적게 줄 수 있는 코드를 작성하세요.

거스름돈 = 10000 - 1500
print(거스름돈 // 5000, '5000원')
거스름돈 = 거스름돈 % 5000

print(거스름돈 // 1000, '1000원')
거스름돈 = 거스름돈 % 1000

print(거스름돈 // 500, '500원')
거스름돈 = 거스름돈 % 500

print(거스름돈 // 100, '100원')
거스름돈 = 거스름돈 % 100

1 5000원
3 1000원
1 500원
0 100원

# 함수

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 들여쓰기
# print와 return은 헷갈리시면 안됩니다.
def printnum(): #함수의 정의
    print('1')
    print('2')
    print('3')
    # return None 생략된 것

a = printnum() #함수의 호출
print(a)

1
2
3
None

In [ ]:
def printnum():
  print('1')
  print('2')
print('3')
printnum() #__repr__값이 있어야 출력

3
1
2

In [ ]:
# 함수의 종료 구분은 들여쓰기 기준이며
# return으로도 구분이 됩니다. 
def printnum():
  print('1')
  print('2')
print('3')
print(printnum())

3
1
2
None

In [ ]:
def printnum():
  print('1')
  return
  print('2')
print('3')
print(printnum())

3
1
None

In [ ]:
# 출력값이 다르다는 것은 꼭 기억!
print(type(printnum)) #__str__
type(printnum) #__repr__

<class 'function'>

function

In [80]:
# None은 출력되지 않습니다.
a = None
a

In [ ]:
# 파선아실
# 파라미터는 선언할때, 아규먼트는 실행할때
def function(x, y):
    z = x + y
    return z
print('function(5, 7)=', function(5, 7))

function(5, 7)= 12

In [ ]:
# 함수 안에 함수
def f():
  def ff():
    return 100
  x = ff()
  return x

f()
# ff() 밖에서 호출 안됨

100

In [ ]:
# 함수를 아규먼트로 전달
def f(a, b):
  return a + b

def ff(a):
  return a(10, 20)

ff(f)

30

In [ ]:
def f():
  pass # pass는 종료가 아니라 없는 것으로 취급
  print(10)

f()

# 그냥 냅두면 error이기 때문에 pass 사용(개발할 예정인 빈 함수)
def hit():
  pass
def move():
  pass
def heal():
  pass
# return을 사용해도 되는데 왜 pass?
# pass를 사용했을 때 나중에 개발될 것이라는 표시
# 글자수도 2자가 더 짧고 타이핑이 빠름 (속도감이 있다.)

10

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)
# JavaScript에서는 안됨

100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c): # 이 코드는 가능하지 않습니다.
    print(a, b, c)

def f(a, b=20, c=30): # 이 코드는 가능합니다.
    print(a, b, c)

SyntaxError: non-default argument follows default argument (2282238818.py, line 1)

In [ ]:
def f(a, b=20, c=30): # 이 코드는 가능합니다.
    print(a, b, c)

# f() # error
# f(100, 10)
# f(a=100, b=200, c=300)
# f(c=300, a=100, b=200)
# f(c=300) # error

In [ ]:
# a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.
a = 2
b = 3
# (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.
# 조건1: a가 입력되지 않으면 0이 입력됩니다.
# 조건2: b가 입력되지 않으면 0이 입력됩니다.
def f(a=0, b=0):
  return (a+b)*(a-b)
f(a, b)

-5

In [ ]:
a = 2
b = 3

def multiple (x=0, y=0):
    return x * y

def plus (x=0, y=0):
    return x + y

def minus (x=0, y=0):
    return x - y

multiple(plus(a,b), minus(a,b))

-5

In [ ]:
# 지역변수와 전역변수
def f():
  inner_value = 100

print(inner_value)

NameError: name 'inner_value' is not defined

In [46]:
x = 100
def f():
  print(x)

f()

100

In [49]:
x = 100
def f():
  y = x + x
  return y

f()

200

In [50]:
x = 100
def f():
  x = 200
  return x

f()
print(x)

100

In [52]:
# global 사용후
a = 100
def f():
    global a 
    a = a + 1
f()
a

101

In [53]:
a = 100
def f():
  a = a+1 #error
  return a
f()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [54]:
a = 100
def f():
  b = a+1 #실행됩니다.
  return b
f()

101

In [57]:
a = 10
def f():
  a = 100
  print(a)
  def ff():
    a = 1000
    print(a)
    def fff():
      a = 10000
      print(a)
    fff()
  ff()
f()
print(a)

100
1000
10000
10

In [59]:
# global을 하면 함수가 얼만큼 중첩되어 있건 최상단에 있는 a를 바라봅니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            global a #10
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
10
10

In [61]:
# global을 사용하지 않고 중첩된 함수 내에서 a를 출력하게 되면 바로 위 함수의 a를 출력합니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            print(a) # 1000
        fff()
    ff()
f()
print(a)

100
1000
1000
10

In [63]:
# nonlocal
a = 10
def f():
    a = 100
    print(f'f a: {a}')
    def ff():
        a = 1000
        print(f'ff a: {a}')
        def fff():
            nonlocal a
            a = 200
            print(f'fff a: {a}')
        fff()
        print(f'ff a: {a}')
    ff()
f()
print(f'global a: {a}')

f a: 100
ff a: 1000
fff a: 200
ff a: 200
global a: 10

In [ ]:
# sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행하지 마세요! 저만 실행합니다!
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [65]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
def 숫자출력(count):
    if count > 100:
        return
    print(count)
    return 숫자출력(count+1) #값을 1부터 반복횟수 까지의 값을 출력

숫자출력(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# 재귀함수는 사용하지 마세요!(주니어때)
# 위험하고 일부 효율이 좋지 않습니다.
# 반복문 <-> 재귀는 서로 상호 호환이 가능합니다.
# 반복문 사용하세요!

In [ ]:
# 상식 수준에서 다음 재귀는 외우셨으면 좋겠습니다.
# 1. 팩토리얼
# 2. 문자열 뒤집기

In [73]:
def factorial(n):
  if n <= 1:
    return 1
  return n * factorial(n-1)

factorial(5)

'''
함수 호출       return
factorial(n)  n * factorial(n-1)
factorial(5)  5 * factorial(4)  == 5 * 24
factorial(4)  4 * factorial(3)  == 4 * 6
factorial(3)  3 * factorial(2)  == 3 * 2
factorial(2)  2 * factorial(1)  == 2 * 1
factorial(1)  1
'''

120

In [67]:
s = 'hello world'
s = s[1:] + s[0]
print(s)

'ello worldh'

In [74]:
def reversed_str(s):
    if len(s) <= 1:
        return s
    return reversed_str(s[1:]) + s[0]

reversed_str('hello')

'''
함수 호출                 return
reversed_str(s)         reversed_str(s[1:]) + s[0]
reversed_str('hello')   reversed_str('ello') + 'h'  == 'olle' + 'h'
reversed_str('ello')    reversed_str('llo') + 'e'   == 'oll' + 'e'
reversed_str('llo')     reversed_str('lo) + 'l'     == 'ol' + 'l'
reversed_str('lo')      reversed_str('o') + 'l'     == 'o' + 'l'
reversed_str('o')       'o'                         == 'o'
'''

'olleh'

In [75]:
# 반복문을 아직 안배웠지만 간단하게 된다는 것을 보여드리기 위함입니다!
n = 5
result = 1
for i in range(1, n+1):
    result *= i
result

120

In [77]:
# 문자열 뒤집기
s = 'hello'
result = ''
for i in s:
  result = i + result
  print(result)
result

h
eh
leh
lleh
olleh

'olleh'

# 함수 나아가기

In [82]:
def f():
  x = 'hello world'\
        .upper()\
        .replace(' ', '')\
        .lower()
  return x
f()

'helloworld'

In [83]:
# 여러개의 값 반환하기

def  f():
  a = 10
  b = 20
  c = 30
  return a, b, c
f()

(10, 20, 30)

In [84]:
print() # built-in function

def f(): #function
  pass

# 여기서 print와 f는 변수입니다.
# 변수는 가리키는 것입니다.
leehojun = print
leehojun('hello world')

hello world

In [85]:
# 변수처럼 아래처럼 관리할 수 있습니다.
x = 10
y = 20
l = [x, y]

def add(x, y):
  return x + y

def sub(x, y):
  return x - y

ll = [add, sub]
ll[0](10, 20) # add(10, 20)과 같습니다.

30

In [86]:
# 매우 중요!
# lambda 아규먼트(입력): 리턴값(출력)
add2 = lambda x, y:x + y
sub2 = lambda x, y:x + y
add2(10, 20)

30

In [91]:
# map(함수이름, 순회자료형): 순회자료형을 하나씩 함수에 실행시킴
x = map(int, '1234')

for i in x:
  print(i)

for i in x: #더이상 순회가 안됨!
  print(i)

1
2
3
4

In [93]:
x = map(int, '1234')
# 1번째 수행 int('1')
# 2번째 수행 int('2')
# 3번째 수행 int('3')
# 4번째 수행 int('4')
list(map(int, '1234'))

[1, 2, 3, 4]

In [94]:
def f(x):
  return x * 2
list(map(f, '1234'))

['11', '22', '33', '44']

In [95]:
# 보통 map을 쓰면 재사용 안함 -> 람다 사용
list(map(lambda x:x*2, '1234'))

['11', '22', '33', '44']

# built-in function 총집합

In [ ]:
# 빌트인함수
# all any / chr ord (알고리즘 문제 풀이용) / map filter zip / format / len / max min sum / repr print / enumerate range / reversed sorted

In [101]:
# 모두 다 True여야 True 반환 -> and
all([True, True, True]) #True
all([True, True, False]) #False
all([1, 1, 1, 0]) #False
all([1, 0, 1, 1]) #False
all([1, 100, 10, -1]) #True

True

In [103]:
# 하나라도 True이면 True 반환 -> or
any([True, False, False]) #True
any([False, False, False]) #False

False

In [111]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65) #'A'
chr(97) #'a'
chr(96) #'`'
chr(54616) #'하'

'하'

In [110]:
# 문자를 입력하면 유니코드에서 숫자로 출력합니다.
ord('a') #97
ord('하') #54616

54616

In [112]:
# 유니코드 표에서 값 확인
int('D558', 16)

54616

In [113]:
# 대문자는 소문자로, 소문자는 대문자로 바꾸는 코드를 만들어주세요.
# 'weniv CEO licat' -> 'WENIV ceo LICAT'
# 유니코드 영대문자 범위 <-> 영소문자 유니코드 범위 if문으로바꿈

In [116]:
map(lambda x: x**2, [1, 2, 3, 4]) # 계산 되기 전 Object

In [117]:
list(map(lambda x: x**2, [1, 2, 3, 4])) # 계산된 후 Object

[1, 4, 9, 16]

In [118]:
# filter(함수, 순환객체)
list(filter(lambda x: x>10, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [121]:
def filter_function(x):
  return x > 10

list(filter(filter_function, [1, 2, 11, 12, 9, 6, 13]))

[11, 12, 13]

In [123]:
# zip([], []) -> a,b쌍 하나씩 묶어줌
list(zip('abc', '123'))

[('a', '1'), ('b', '2'), ('c', '3')]

In [124]:
list(zip('abc', '123', [10, 20, 30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [125]:
# 값이 더 있어도 매핑되는 곳 까지만 해줌
list(zip('abc', '1234567', [10, 20, 30]))

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

In [126]:
# zip은 좌표계에서 자주 응용됩니다.
# https://codingdojang.com/scode/408?answer_mode=hide

s = [1, 3, 4, 8, 13, 17, 20]
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [130]:
sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])
# sorted(zip(s, s[1:]), key=lambda x:x[1]-x[0])[0] #정답 코드

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
'''
자바스크립트에선 zip이 없어서 만들어 쓴다.
function zip(a, b){
    return a.map((v, i) => [v, b[i]])
}
'''

In [132]:
format(1000000000, ',')

'1,000,000,000'

In [133]:
len('hello world')

11

In [134]:
max([1,2,3,4,5])

5

In [135]:
min([1,2,3,4,5])

1

In [136]:
sum([1,2,3,4,5])

15

In [140]:
# 맨 앞의 값부터 차례대로 비교
max([(1, 2), (3, 101), (1, 20), (3, 100)]) #(3, 101)
max(['hello', 'world', 'world1']) #'world1'

'world1'

In [147]:
# 이중배열 벗길 때도 사용
sum([[1, 2], [3, 101], [1, 20], [3, 100]], [])

[1, 2, 3, 101, 1, 20, 3, 100]

In [150]:
sum([1,2,3], 10)

16

In [148]:
[] + [1, 2]
[1, 2] + [3, 101]
[1, 2, 3, 101] + [1, 20]
[1, 2, 3, 101, 1, 20] + [3, 100]

[1, 2, 3, 101, 1, 20, 3, 100]

In [ ]:
sum([[1, 2], [3, 101], [1, 20], [3, 100]])
#numpy나 pandas 사용해야함 작동X

In [151]:
class Charactor:
  def __repr__(self):
    return 'hello'
  def __str__(self):
    return 'world'
  
hero = Charactor()
print(hero) #__str__
hero #__repr__

world

hello

In [152]:
repr(hero)

'hello'

In [157]:
가수 = ['뉴진스', '르세라핌', '에스파', '아이브']
print(list(enumerate(가수)))
print(list(enumerate(가수, 1)))
print(list(enumerate(가수, 100)))

for i, j in enumerate(가수, 1):
  print(i, j)

[(0, '뉴진스'), (1, '르세라핌'), (2, '에스파'), (3, '아이브')]
[(1, '뉴진스'), (2, '르세라핌'), (3, '에스파'), (4, '아이브')]
[(100, '뉴진스'), (101, '르세라핌'), (102, '에스파'), (103, '아이브')]
1 뉴진스
2 르세라핌
3 에스파
4 아이브

In [161]:
type(print)

builtin_function_or_method

In [162]:
type(enumerate)

type

In [163]:
type(max)

builtin_function_or_method

In [164]:
type(len)

builtin_function_or_method

In [165]:
type(format)

builtin_function_or_method

In [166]:
type(range)

type

In [167]:
type(zip)

type

In [168]:
type(map)

type

In [169]:
type(filter)

type

In [170]:
type(int)

type

In [171]:
type(str)

type

In [182]:
# range(start, stop, step) # 슬라이싱과 비슷한 형태를 지니고 있습니다.
print(range(10)) # 값을 가지고 있지 않습니다.
print(list(range(10)))
x = range(10)
print(type(x)) #<class 'range'>
print(list(range(0, 10, 2)))
print(list(range(10, 0, -2)))
# print(list(range(10, 0, 2.1))) # error, numpy 모듈 사용하면 가능합니다.
# print(list(range(10.1, 2.0, 2))) # error, numpy 모듈 사용하면 가능합니다.
print(list(range(0, 10, -2))) #[]

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'range'>
[0, 2, 4, 6, 8]
[10, 8, 6, 4, 2]
[]

In [ ]:
# 2.x에서 range와 그 외 값들에 대한 히스토리
# print(range(10)) # 출력: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지해야 합니다.

# print(range(100000000000000000000000000000000000000))
# 메모리의 효율이 극도로 안좋아짐

# 그런데 3.x에서 range(10000000000000000000000000000)는 메모리 효율이 안좋나요?
# 시작과, 끝, 스텝값만 가지고 있기 때문에 메모리 낭비가 전혀 없습니다.

# 2.x에서도 3.x와 같은 range타입이 있었습니다. xrange문법입니다. xrange문법이 3.x되면서 range가 된겁니다.
# 2.x에서 사용가능 문법
# print(xrange(10)) # 출력: xrange(10)
# for i in xrange(10): # 출력: 순회 가능
#     print(i)

In [187]:
list(reversed('hello world'))
list(reversed([1, 2, 3, 10, 5, 4])) # 역 정렬 아닙니다. 역순입니다.

[4, 5, 10, 3, 2, 1]

In [188]:
list(reversed(sorted([1, 2, 3, 10, 5, 4]))) # 역 정렬

[10, 5, 4, 3, 2, 1]

In [190]:
# 매우 중요합니다.
# 알고리즘 문제의 단골 built-in function
sorted([1, 2, 100, 200, 3, 4, 10, 20])
sorted([1, 2, 100, 200, 3, 4, 10, 20], reverse=True)

[200, 100, 20, 10, 4, 3, 2, 1]

In [193]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'])
# ['a', 'hel', 'hello', 'heo', 'hllo', 'l']

sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# ['l', 'a', 'hel', 'heo', 'hllo', 'hello']
# 위 코드는 sorted([5, 1, 4, 3, 3, 1])와 같습니다.

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [206]:
data = [
  [2, 'hello world', 30],
  [3, 'hworl', 33],
  [5, 'hello wo', 35],
  [4, 'hello w', 31],
  [6, 'hello w', 39],
]
# 1번째 문제 : 첫 번째 요소의 값으로 정렬하세요.
sorted(data)

# 2번째 문제 : 두 번째 요소의 문자열 길이를 기준으로 정렬하세요.
sorted(data, key=lambda x:len(x[1]))
# sorted([11, 5, 8, 7, 7])을 정렬하는 것과 같습니다. 다만 숫자값으로 반환하는 것이 아니라 object로 반환

# 3번째 문제 : 세 번째 요소 기준으로 정렬하세요.
sorted(data, key=lambda x:x[2])

# 4번째 문제 : 첫 번째 요소와 세 번째 요소의 차가 큰 순으로 정렬하세요.
sorted(data, key=lambda x:abs(x[0]-x[2]), reverse=True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]