In [1]:
# 실습 1
import sqlite3

conn = sqlite3.connect('ex1.db')
c = conn.cursor()

c.execute('''CREATE TABLE books (id integer, title text, price integer)''')

c.execute('''INSERT INTO books VALUES (1, 'python 가이드', 5000)''')

c.execute('''INSERT INTO books VALUES (2, 'js 가이드', 4000)''')

conn.commit()
conn.close()

In [2]:
conn = sqlite3.connect('ex1.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(1, 'python 가이드', 5000)
(2, 'js 가이드', 4000)

In [3]:
## 실습 2
import sqlite3

conn = sqlite3.connect('ex2.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE books (id integer, title text, price integer)
''')

for i in range(10):
    c.execute(f"INSERT INTO books VALUES ({i}, 'python 가이드', {i*1000})")

conn.commit()
conn.close()

In [4]:
conn = sqlite3.connect('ex2.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM books ORDER BY id'):
    print(row)

# 연결 종료
conn.close()

(0, 'python 가이드', 0)
(1, 'python 가이드', 1000)
(2, 'python 가이드', 2000)
(3, 'python 가이드', 3000)
(4, 'python 가이드', 4000)
(5, 'python 가이드', 5000)
(6, 'python 가이드', 6000)
(7, 'python 가이드', 7000)
(8, 'python 가이드', 8000)
(9, 'python 가이드', 9000)

In [5]:
## 실습 3
import sqlite3

data = {
    'id': [1, 2, 3],
    'title': ['1', '2', '3'],
    'content': ['11', '22', '33', '44', '55']
}

# 데이터베이스에 연결
conn = sqlite3.connect('ex3.db')

# 커서 생성
cursor = conn.cursor()

# post 테이블 생성
cursor.execute('CREATE TABLE post (id INTEGER, title TEXT, content TEXT)')

# 데이터 삽입
for i in range(len(data['id'])):
    cursor.execute('INSERT INTO post VALUES (?, ?, ?)', (data['id'][i], data['title'][i], data['content'][i]))

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [6]:
conn = sqlite3.connect('ex3.db')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM post'):
    print(row)

# 연결 종료
conn.close()

(1, '1', '11')
(2, '2', '22')
(3, '3', '33')

In [ ]:
# 여기까지 되었다면
# 데이터(크롤링 데이터, JSON 데이터, CSV 데이터)를 가지고
# 1. 직접 쿼리를 사용해서 Django DB에 넣는 것이 가능합니다.
# 2. db load를 사용해서 Django DB에 넣는 것이 가능합니다.
# 3. ORM을 사용해서 넣는 것도 가능합니다.

In [8]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

# 데이터 조회(데이터가 없어서 안나옵니다.)
for row in c.execute('SELECT * FROM blog_movie'):
    print(row)

# 데이터 조회(데이터가 있어 나옵니다.)
for row in c.execute('SELECT * FROM blog_post'):
    print(row)

# 연결 종료
conn.close()

(1, 'hello hello 1', '1111', '', '', '2023-10-23 04:15:11.080000', '2023-10-23')
(2, '22', '2222', '', '', '2023-10-23 04:15:13.685000', '2023-10-23')
(3, '33', '3333', '', '', '2023-10-23 04:15:17.307000', '2023-10-23')
(4, 'hello world 4', '44', '', '', '2023-10-22 05:27:42.857000', '2023-10-22')

In [13]:
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')
data = []

book_list = soup.select('.book_name')
for book in book_list:
    data.append([book.text, 10])
    
data

[['메모혁신 Notion(노션) 활용 가이드', 10],
 ['이력서 작성 가이드', 10],
 ['제주코딩베이스캠프 Code Festival: Python 100제 1부', 10],
 ['튜토리얼로 배우는 HTML&CSS', 10],
 ['코딩도장 튜토리얼로 배우는 Python 1편 object', 10],
 ['코딩도장 튜토리얼로 배우는 python 2편 제어문', 10],
 ['코딩도장 튜토리얼로 배우는 Python 문제풀이', 10],
 ['타노스의 건틀릿 알고리즘 With Python', 10],
 ['xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍', 10],
 ['러플 튜토리얼로 배우는 Python', 10],
 ['인공지능을 활용한 업무자동화 With Google Developers Group JEJU', 10]]

In [18]:
## 실습 4
import sqlite3

# 데이터베이스에 연결
conn = sqlite3.connect('db.sqlite3')

# 커서 생성
cursor = conn.cursor()

# 데이터 삽입
for i in range(len(data)):
    cursor.execute(f'INSERT INTO blog_movie VALUES ({i+1}, "{data[i][0]}", {data[i][1]})')

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [19]:
conn = sqlite3.connect('db.sqlite3')
c = conn.cursor()

# 데이터 조회
for row in c.execute('SELECT * FROM blog_movie'):
    print(row)

# 연결 종료
conn.close()

(1, '메모혁신 Notion(노션) 활용 가이드', 10)
(2, '이력서 작성 가이드', 10)
(3, '제주코딩베이스캠프 Code Festival: Python 100제 1부', 10)
(4, '튜토리얼로 배우는 HTML&CSS', 10)
(5, '코딩도장 튜토리얼로 배우는 Python 1편 object', 10)
(6, '코딩도장 튜토리얼로 배우는 python 2편 제어문', 10)
(7, '코딩도장 튜토리얼로 배우는 Python 문제풀이', 10)
(8, '타노스의 건틀릿 알고리즘 With Python', 10)
(9, 'xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍', 10)
(10, '러플 튜토리얼로 배우는 Python', 10)
(11, '인공지능을 활용한 업무자동화 With Google Developers Group JEJU', 10)

In [72]:
# 과제
# 크롤링
import requests
from bs4 import BeautifulSoup

url = 'https://paullab.co.kr/bookservice/'
response = requests.get(url)
response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

title = []
price = []
author = []
total = [title, price, author]
# 1: 제목, 2: 가격, 3: 저자
for i in range(1, 4):
    book_list = soup.select(f'.book_detail :nth-child({i})')
    for book in book_list:
        text = book.text
        if ':' in text:
            text = text.split(': ')[1]
        total[i-1].append(text)
data = list(zip(total[0], total[1], total[2]))
data

[('메모혁신 Notion(노션) 활용 가이드', '7,000원', '이호준, 이준호, 김혜원, 김유진, 차경림, 김진, 현지연, 정승한'),
 ('이력서 작성 가이드',
  '10,000원',
  '강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현'),
 ('Python 100제 1부', '무료', '이호준, 강민정, 김유진, 정윤하, 최원범'),
 ('튜토리얼로 배우는 HTML&CSS', '4,900원', '이호준, 박민균, 양지혜, 정민준, 박소영, 전유빈'),
 ('코딩도장 튜토리얼로 배우는 Python 1편 object', '3,000원', '이호준, 정민준, 배희성, 김덕주, 한승협'),
 ('코딩도장 튜토리얼로 배우는 python 2편 제어문', '4,900원', '이호준, 우지훈, 박소영, 허재영'),
 ('코딩도장 튜토리얼로 배우는 Python 문제풀이', '무료', '이호준, 전유빈, 김태범, 한승협, 김혜원, 강민정'),
 ('타노스의 건틀릿 알고리즘 With Python', '무료', '이호준, 한승협, 강민정, 신민욱'),
 ('xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍',
  '무료',
  '이호준, 강상권, 오재원, 전진환, 문형철, 이현창'),
 ('러플 튜토리얼로 배우는 Python', '4,900', '이호준, 배희성, 양지혜, 박소영, 김수연, 정민준'),
 ('인공지능을 활용한 업무자동화 With Google Developers Group JEJU',
  '무료',
  '이호준, 이준호, 현암, 윤현담, 김루비, 이동민, 유승엽, 박서윤, 김채린, 한승협, 안상우, 장성원, 전진환, 강민성, 조민구, 전창삼')]

In [44]:
# 데이터베이스 생성 및 저장
import sqlite3

# 데이터베이스에 연결
conn = sqlite3.connect('books.db')

# 커서 생성
cursor = conn.cursor()

# books 테이블 생성
cursor.execute('CREATE TABLE books (id INTEGER, title TEXT, price TEXT, author TEXT)')

# 데이터 삽입
for i in range(len(data)):
    cursor.execute(f'INSERT INTO books VALUES ({i+1}, "{data[i][0]}", "{data[i][1]}", "{data[i][2]}")')

# 커밋(변경 사항 저장)
conn.commit()

# 연결 닫기
conn.close()

In [75]:
# 데이터베이스 읽기
conn = sqlite3.connect('books.db')
c = conn.cursor()
c.execute('SELECT * FROM books')

# 데이터 조회
result = c.fetchall()
dicts = []
for row in result:
    d = {"id": row[0], "title": row[1], "price": row[2], "author": row[3]}
    dicts.append(d)

dicts

[{'id': 1,
  'title': '메모혁신 Notion(노션) 활용 가이드',
  'price': '7,000원',
  'author': '이호준, 이준호, 김혜원, 김유진, 차경림, 김진, 현지연, 정승한'},
 {'id': 2,
  'title': '이력서 작성 가이드',
  'price': '10,000원',
  'author': '강혜진, 김유진, 김혜원, 김진, 이범재, 이호준, 원유선, 박누리, 차경림, 최원범, 한재현'},
 {'id': 3,
  'title': 'Python 100제 1부',
  'price': '무료',
  'author': '이호준, 강민정, 김유진, 정윤하, 최원범'},
 {'id': 4,
  'title': '튜토리얼로 배우는 HTML&CSS',
  'price': '4,900원',
  'author': '이호준, 박민균, 양지혜, 정민준, 박소영, 전유빈'},
 {'id': 5,
  'title': '코딩도장 튜토리얼로 배우는 Python 1편 object',
  'price': '3,000원',
  'author': '이호준, 정민준, 배희성, 김덕주, 한승협'},
 {'id': 6,
  'title': '코딩도장 튜토리얼로 배우는 python 2편 제어문',
  'price': '4,900원',
  'author': '이호준, 우지훈, 박소영, 허재영'},
 {'id': 7,
  'title': '코딩도장 튜토리얼로 배우는 Python 문제풀이',
  'price': '무료',
  'author': '이호준, 전유빈, 김태범, 한승협, 김혜원, 강민정'},
 {'id': 8,
  'title': '타노스의 건틀릿 알고리즘 With Python',
  'price': '무료',
  'author': '이호준, 한승협, 강민정, 신민욱'},
 {'id': 9,
  'title': 'xlsxwriter 튜토리얼로 배우는 Python 엑셀 프로그래밍',
  'price': '무료',
  'author': '이호준, 강상권, 오재원, 전진환, 문형철, 이현창'},
 {'id': 10,
  'title': '러플 튜토리얼로 배우는 Python',
  'price': '4,900',
  'author': '이호준, 배희성, 양지혜, 박소영, 김수연, 정민준'},
 {'id': 11,
  'title': '인공지능을 활용한 업무자동화 With Google Developers Group JEJU',
  'price': '무료',
  'author': '이호준, 이준호, 현암, 윤현담, 김루비, 이동민, 유승엽, 박서윤, 김채린, 한승협, 안상우, 장성원, 전진환, 강민성, 조민구, 전창삼'}]

In [70]:
# json으로 출력
import json
with open('output.json', 'w') as f:
    json.dump(dicts, f, indent=2, ensure_ascii = False)

# 연결 종료
conn.close()